* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

::selection {
  background-color: blueviolet;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.container {
  /* width: 100%; */
  max-width: 1440px; 
  height: auto;
  margin: auto;
  overflow: hidden;
}

@media(max-width: 1024px){
  .container {
    width: 100%;
  }
}


@media (max-width: 768px){
  .container {
    overflow-x: hidden;
  }
}