.sectionFive {
  width: 100%;
  height: 1002px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px;
}

.sectionFiveTitle {
  width: 900px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sectionFiveTitle h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110.00000000000001%;
  background: linear-gradient(90deg, #c026d3, #701a75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sectionFiveTitle blockquote {
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
  color: #475569;
}

.directions {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.direction {
  width: 394.6666564941406px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.direction h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 110.00000000000001%;
  color: #0f172a;
}

.direction blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #475569;
}

@media(max-width: 1024px){
  .sectionFive {
    height: auto;
    padding: 60px 40px;
    gap: 60px;
  }

  .sectionFiveTitle {
    width: 100%;
    height: auto;
  }

  .sectionFiveTitle h2 {
    font-size: 42px;
  }

  .directions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .direction {
    width: calc(50% -24px);
  }
}

@media(max-width: 768px){
  .sectionFive {
    padding:  40px 24px;
    gap: 40px;
  }

  .sectionFiveTitle h2 {
    font-size: 32px;
  }

  .sectionFiveTitle p {
    font-size: 16px;
  }

  .direction {
    width: 100%;
    height: auto;
    align-items: center;
  }
  
  .direction blockquote {
    text-align: center;
  }

  .directions {
    gap: 32px;
  }
}

@media(max-width: 480px){
  .sectionFiveTitle h2 {
    font-size: 26px;
  }

  .direction h5 {
    font-size: 20px;
  }

  .direction p {
    font-size: 16px;
  }
}